<h2>Meet the Pod</h2>
<div class="row people d-flex">
  {% for item in site.data.fellows %}
  <a href="/fellow.html?fellow={{ item.name }}">
  <div class="col-md-4 col-lg-3 item">
    <div class="box" style="background-image: url(./assets/img/{{ item.img }})">
      <div class="cover">
        <h3 class="name">{{ item.name }}</h3>
        <p class="title">{{ item.location }}</p>
        <div class="social">
          {% if  item.linkedin !="#" %}
          <a href="{{ item.linkedin }}"><i class="fa fa-linkedin"></i></a>
          {% endif %}
          {% if  item.twitter != "#" %}
          <a href="{{ item.twitter }}"><i class="fa fa-twitter"></i></a>
          {% endif %}
          {% if  item.resume != "#" %}
          <a href="{{ item.resume }}"><i class="fa fa-file-pdf"></i></a>
          {% endif %}
          {% if  item.github != "#" %}
          <a href="{{ item.github }}"><i class="fa fa-github"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
