<div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.linkedin.com/school/mlh-fellowship/"><em class="icon ion-social-linkedin"></em></a>
                <a href="https://www.instagram.com/mlhacks/"><em class="icon ion-social-instagram"></em></a>
                <a href="https://twitter.com/MLHacks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><em class="icon ion-social-twitter"></em></a>
                <a href="https://www.facebook.com/MajorLeagueHacking"><em class="icon ion-social-facebook"></em></a>
                <a href="https://www.youtube.com/c/Majorleaguehacking"><em class="icon ion-social-youtube"></em></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Blog</a></li>
                <li class="list-inline-item"><a href="https://mlh.io/about">About</a></li>
                <li class="list-inline-item"><a href="#">Projects</a></li>
                <li class="list-inline-item"><a href="https://fellowship.mlh.io/#programs">Programs</a></li>
                <li class="list-inline-item"><a href="https://mlh.io//faq">FAQ</a></li>
            </ul>
            <p class="copyright">MLH Prep © 2021</p>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p style="font-size: 20px; margin-top: 1%; font-weight: bold;">Made by The Pynguins</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>