<header class="navbar sticky-top navbar-expand-lg navbar-dark nav-bar">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <div class="nav-logo">
            <img src="./assets/img/mlh-prep.png" />
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Pod <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu nav-bar-dropdown" aria-labelledby="navbarDropdown">
                    {%for item in site.data.projects%}
                    <a class="dropdown-item nav-bar-dropdown-item" href="/projects/{{ item.page-name }}">{{item.title}}</a>
                    {%endfor%}
                </div>
            </li>
        </ul>
    </div>
</header>
