<header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        <div class='toggle-btn'>
            <input type="checkbox" class="checkbox" id="chk" />
            <label class="label" for="chk">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
            </label>
        </div>
    </div>
</header>

<script>
    const chk = document.getElementById('chk');

    chk.addEventListener('change', () => {
        document.body.classList.toggle('dark');
        var elements = document.getElementsByClassName('card');
        for (i = 0; i < elements.length; i++) {
            elements[i].classList.toggle('dark-ctn');
        }
      
        let leaderBoard = document.getElementsByClassName("leaderboard")[0];
        if (leaderBoard !== null) {
            leaderBoard.classList.toggle("dark");
        }

        let imageBoxes = document.getElementsByClassName("box");
        for (let imageBox of imageBoxes) {
            imageBox.classList.toggle("dark");
        };

    });
</script>