body {
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}
.item .box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    position: relative;
    padding: 1.5em;
    margin: 20px 30px;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 10px 10px 20px 4px grey;
}

.item .box.dark {
    box-shadow: 10px 10px 20px 4px black;
}

.item .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 19, 0.75);
    transition: opacity 0.15s ease-in;
    opacity: 0;
    padding-top: 80px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
}

.item:hover .cover {
    opacity: 1
}

.item .name {
    font-weight: bold;
    margin-bottom: 8px
}

.item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #bbd8fb;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 20px
}

.social {
    font-size: 18px
}

.social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7
}

.social a:hover {
    opacity: 1
}
