.details{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 7%;
    border-radius: 30px;
}

.details:hover {
    box-shadow: 0 24px 36px 0 rgba(0,0,0,0.2);
}
  
.content{
    padding: 12px 16px;
}

.profile-img img {
    border-radius: 50px;
    height: 480px;
    display: block;     
    margin-left: auto;   
    margin-right: auto;
    padding: 20px;
}

.info{
    padding-left: 100px;
}

.info h5{
    display: inline;
}

.info #university, .info #interests, .info #fav_prog_lang{
    margin-left: 20px;
}

.info img{
    border-radius: 30px;
    height: 70px;
    width: 70px; 
}

.info .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 25px 12px;
    border-radius: 50%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.info .fa-twitter {
    background: #55ACEE;
}

.info .fa-github {
    background: gray;
}

.info .fa-linkedin {
    background: #007bb5;
}